<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>

<!-- Начало шапки -->
<section class="wrapper header header-enter">
    <div class="container">
        <div class="wg-bg"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="buttonCont top-buttonCont"><div class="enterButton top-enterButton">Войти</div></div>
            </div>
        </div>
        <div class="row top-menu">
            <div class="col-lg-8 col-lmd-6 col-sm-6 col-xs-9">
                <i class="ico icon-where"><a href="#">w</a></i>
                <h2>Выбери место</h2>
            </div>
        </div>
        <div class="row top-menu header-wg">
            <div class="col-lg-7 col-lmd-6 col-sm-6 col-xs-9">
                <i class="ico icon-go"><a href="#">6</a></i>
                <h2>Найди с кем пойти</h2>
            </div>
            <div class="col-lg-1 b-wg">

            </div>
            <div class="burgerButton"><i>t</i></div>
        </div>
        <div class="row top-menu">
            <div class="col-lg-8 col-lmd-6 col-sm-6 col-xs-9">
                <i class="ico icon-cinema"><a href="#">3</a></i>
                <h2>Вперед</h2>
            </div>
        </div>
    </div>
</section>
<!-- Конец шапки -->

<div class="container">
    <div class="row marginTop">
        <div class="col-lg-11">
            <div class="eventImg floatLeft" style="width: 311px; height: 233.25px;">
                <div style="background: url('img/3on4_02.jpg') no-repeat; background-position:50%; background-size:cover; cursor:pointer; height:100%;"></div><a href="/event/skazki-chukotki-kele-i-drugie_2?subscribe=true" class="content-button" style="height: 30px;"><i style="padding: 0px; position: relative; top: -5px;">3</i></a>
            </div>
            <div class="eventTitle">
                <h1>Сказки Чукотки. Келе и другие</h1>
                <button data-ng-click="showDesctiprion=true" data-ng-show="!showDesctiprion" class="eventButton"><i>1</i>Инфо</button>
            </div>
            <div class="eventBlock two">
                <div class="eventText"><p><span>Выставка посвящена уникальному искусст</span></p></div>
            </div>
            <!-- ngIf: showDesctiprion -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <script type="text/javascript">
                (function () {
                    if (window.pluso)if (typeof window.pluso.start == "function") return;
                    if (window.ifpluso == undefined) {
                        window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript';
                        s.charset = 'UTF-8';
                        s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                        var h = d[g]('body')[0];
                        h.appendChild(s);
                    }
                })();
            </script>
            <div data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=02" data-services="vkontakte,facebook,twitter" class="pluso"><div class="pluso-010010100110-02"><span class="pluso-wrap" style="background:transparent"><a href="http://msk.wentgo.ru/event/skazki-chukotki-kele-i-drugie_2" title="ВКонтакте" class="pluso-vkontakte"></a><a href="http://msk.wentgo.ru/event/skazki-chukotki-kele-i-drugie_2" title="Facebook" class="pluso-facebook"></a><a href="http://msk.wentgo.ru/event/skazki-chukotki-kele-i-drugie_2" title="Twitter" class="pluso-twitter"></a><a href="http://pluso.ru/" class="pluso-more"></a></span></div></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-11">
            <div class="forIco"><i data-ng-click="sex=2">2</i><i data-ng-click="sex=1">3</i></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <div infinite-scroll="subscribers.nextPage()" infinite-scroll-disabled="subscribers.busy" infinite-scroll-distance="1" class="event-content-block ng-isolate-scope">
                <!-- ngRepeat: item in subscribers.items -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12">
            <div class="main-content-line-1">
                <div>
                    <h1 class="photoTitle">djfcdj</h1>
                    <a class="fancybox" href="img/3on4_04.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="img/3on4_04.jpg"></a>
                </div>
                <div><h1 class="photoTitle">djfcdj</h1>
                    <a class="fancybox" href="img/3on4_05.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="img/3on4_05.jpg"></a>
                </div>
                <div><h1 class="photoTitle">djfcdj</h1>
                    <a class="fancybox" href="img/3on4_06.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="img/3on4_06.jpg"></a>
                </div>
                <div><h1 class="photoTitle">djfcdj</h1>
                    <a class="fancybox" href="img/3on4_07.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="img/3on4_07.jpg"></a>
                </div>

            </div>
        </div>
    </div>

</body>


<script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-buttons.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</html>